!jest.config.js
*.d.ts
node_modules
web/node_modules
web/build/static/*
web/build/asset-manifest.json
web/package-lock.json
web/src/components/GlobalVariables.js

# CDK asset staging directory
.cdk.staging
cdk.out
.idea
cdk-outputs.json

lambda/experimental/*